{% extends 'Assets/element.html' %}

{% block header %}
  <br>
  <a href="{% url assetIndex %}">&lsaquo; Asset index</a>
  <span id="newtype"> &middot; 
    <a href="{% url newObject 'asset' %}">New Asset &rsaquo;</a>
  </span>
  <hr>
  <h1 class="form-title">Asset Form</h1>
  <hr>
{% endblock %}

{% block body %}
  <script type="text/javascript">
    $(function(){
      file_field = '[type=file]';
      submit = '[type=submit]';

      if ( $(file_field).val() != null){
        $(submit).attr('disabled','disabled');
      } // Hide the submit button if there is no value in the file upload field

      if ( $(file_field).length == 1 ){
        $(file_field).change(function(){
          console.log('file field changed.')
          if ( $(file_field).val() == null){
            $(submit).attr('disabled','disabled');
          } else {
            $(submit).removeAttr('disabled');
          }
        })
      } // Lets just check that we are only working with one field.

    });
  </script>
  <form id="asset-mod" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for field in object_form %}
    <span {% if field.field.required %}class="required {% endif %}{% if field.label %}apply-watermark">{% endif %}
      {{ field.label_tag }}: {{ field }} {{ field.errors }}
      <span>{{ field.help_text }}<br><a href="{% url assetsHelp 'import-assets' %}">help</a></span>
    </span>
    {% endfor %}
    <input class="submitButton"
    id="{{ 1 }}" type="submit" value="Save" />
  </form>
  {% block extension %}{% endblock %}
{% endblock %}



