Django==1.4.2
PIL==1.1.7
PyRSS2Gen==1.0.0
Twisted==12.0.0
Whoosh==2.4.1
altgraph==0.9
bdist-mpkg==0.4.4
django-extensions==1.0.2
django-haystack==1.2.7
django-pipeline==1.2.21
django-registration==0.8
macholib==1.4.2
modulegraph==0.9.1
py2app==0.6.3
pyOpenSSL==0.13
pygraphviz==1.1
python-dateutil==1.5
vboxapi==1.0
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
