<div id="search-wrapper">
  <input id="search" placeholder="&nbsp;search" class="search-input" type="text" autofocus="on">
  <select id="type-filter">
    <option value="assets">Assets</option>
    <option value="people">People</option>
    <option value=""></option>
  </select>
  <!-- input id="exclude" placeholder="&nbsp;exclude" class="filter-input" type="text" -->

  <!-- img src="{{ STATIC_URL }}img/loading.gif" id="search-running" /-->



  <!-- 229N3 -->
  <!-- div class="sticky-tab">
    <div class="sticky-tab-wrapper">
      <p><a style="width:100%; display:block;" class="sticky-tab-header" href="#" style="width: 200px">Filters</a></p>
      <ul class="menu" id="search-filters">
      {% for x in search_filters %}
      {% endfor %}
      </ul>
    </div>
  </div>

  <a href="#" class="float-left" id="add-search-filter">+</a -->
</div>

<script type="text/javascript">

var filter_element = '<li><input class="search-filter" type="text" placeholder="&nbsp;filter" style="width:95%;"><a href="#" class="remove-filter">-</a></li>'

$(document).ready(function() {
  window.type_filter = $('#type-filter').val();
  $('#search-wrapper').css({'width': $('#search-wrapper').width()});

  $('#search').keyupQueue(function(){
    search();
  });

  $('#type-filter').change(function(){
    window.type_filter = $(this).val();
    search()
  })

  function search(){
    filters = ''
    exclude = ''
    $('.search-filter').each(function(){ filters += ( $(this).val() + ',' ) });
    $('.loading-overlay').show(200)
    $.get('/assets/search',
      { 'q': $('#search').val(),
        't': window.type_filter },
      function(responseText){
        $("#content").html(responseText);
        $('.loading-overlay').hide(200)
      }
    );
  }
  search();
});

</script>


<!-- /229N3 -->

