/*
 *      This is the main stylesheet for the asset console application 
 *  written but not necessarily maintained or supported by:

 *  Comprehensive Computer Consulting LLC
 *  Flexion LLC
 *
 ***    Peter Novotnak `.- 2012    */

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    min-width: 390px;
    background-color: #DDD;
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
    overflow: auto;
}

#page-header {
    position: fixed;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 6px 2px 12px #aaa;
    filter: alpha(opacity = 50);

}


#hide-page-header {
    padding: 0;
    width: auto;
    float: left;
    margin: 0 auto;
}

#unhide-page-header {
    float: left;
    margin: 0 auto;
}

#wrapper {
    text-align: center;
    min-height: 100%;
}

#body {
    display: inline-block;
    text-align: left;
    margin: 1em 0;
}

#footer-wrapper {
    margin: 0 auto;
    width: 50%;
    min-width: 200px;
    text-align:left;
    padding:15px;
    background-color:#eee;
}

#footer * {
    background-color: transparent;
    box-shadow: none;

}

#footer-wrapper div {
    display: inline-block;
    padding:15px;
}

#footer {
    position: relative;
    text-shadow: 0 0 20px white;
    box-shadow: 0 0 30px #222;
    background-color: rgba(100, 100, 100, .9);
    clear:both;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/*``````````````````````````````````````*/

.sticky-tab {
    margin: .40em 4px auto 0;
    display: inline-block;
    bottom: 0px;
    font-size: 1em;
    padding: 0 4px 0 0;
}

.sticky-tab > * {
    border: 1px solid white;
    background-color: rgba(0, 200, 0, .08);
}

.sticky-tab p {
    padding: 0 3px 0 3px;
    border-right: 1px solid #000;
}

.sticky-tab p:first-child  {
    border-right: none;
    -webkit-border-radius: 0px 8px 0px 0px;
    border-radius: 0px 8px 0px 0px;
}

.sticky-tab-wrapper {
    -webkit-border-radius: 0px 8px 0px 0px;
    border-radius: 0px 8px 0px 0px;
}

.sticky-tab ul {
    border: 1px solid #00C800;
    border: 1px solid rgba(0,200,0,.1);
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;   
}

.sticky-tab .menu-item {
    background-color: rgba(175,240,175,.9);
    border: 1px solid #FFF;
}




#header {
    padding-top: .5em;
    background-color: rgba(255, 255, 255, .45);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, .45);
}









#menu {
    display: inline-block;
    right: 0px;
}

.menu-header {
    display: inline-block;
    font-size: 1em;
    padding: 0 4px 0 0;
}

.menu-header > * {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .08);
}

.menu-header ul {
    float: left;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;  
}

.menu-header p {
    padding: 0 3px 0 3px;
}

.menu-header > p {
    text-align: center;
}

.menu-header p:first-child  {
    border-right: none;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.menu {
    box-shadow: 0 7px 14px rgba(0, 0, 0, .35);
    padding: 0px;
    margin: 0px;
    min-width: 100%;
}

#menu div  div {
    max-height: 1px;
}

#menu .menu-item {
    background-color: rgba(200,200,200,.9);
    border: 1px solid #fff;
}

/*````````````````` /Menu Stylz ```````````````````` */

#sidebar {
    z-index:-1;
    /*position:fixed;*/
    background:rgba(210,210,190,.8);
}

#content {
    width:100%;
    margin:2.8em 0;
    float:left;
    min-height: 100%;
    background:rgba(230,230,230,.8);
}

.search-input {
    margin:6px;
    background-color: rgba(230,230,230,.95);
}

.filter-input {
    margin:6px;
    background-color: rgba(240,210,220,.95);
    width: 100px;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.index-item {
    border-bottom:1px solid #fff;
    padding:3px 0px;
}

.margin-tb {
    margin:5px 0px;
}

.margin-rl {
    margin:0px 5px;
}

.clear {
    width:100%;
    clear:both;
}

.table-border {
    max-width: 900px;
    margin:0 auto;
    border-collapse:collapse;
    border-spacing: 0px;
}

#asset-mod,
#login {
    background-color: rgba(240,240,240,.8);
    box-shadow: 0 0 20px 5px rgba(200,200,200,.6);
    display: inline-block;
    margin: 10px;
    max-width: 600px;
    min-width: 280px;
    padding: 15px;
    border-radius: 10px;
}

#asset-mod > * > p, div, label {
    background-color: rgba(255,255,255,.35);
    box-shadow: 0 0 20px 5px rgba(255,255,255,.35);
}


#asset-mod > * > span {
    display: inline-block;
    width: 100%;
}


#asset-mod > * {
    display: block;
    margin: 10px 0;
}

.form-title {
    text-align: center;
    text-shadow: 0 0 8px #FFF;
}

.results-table {} /* migrate the above to this */

.asset-icon {
    margin-top: 5px;
}

.hide {
    z-index:-1;
}

.hidden {
    display: none;
}

a {
    text-decoration:none;
}

a:visited {
    color: #5050A0;
}

.top-li:hover {
    border:1px solid #ddd;
    background:rgba(240,240,240,.9);
}

td {
    border:1px solid #aaa;
    text-align:center;
    padding: 0px 4px;
}

thead tr {
    background-color: rgba(225, 94, 64, .6);
}

.fade {
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    transition: .1s ease-in-out;

}

.fade:hover {
    background:rgba(250,250,250,.9);
    -moz-box-shadow: 1px 1px 1px #bbb;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    box-shadow: 1px 1px 1px #bbb; */
}

.top-li:hover {
}

.top-li:active {
    background:rgba(255,255,255,0)
    box-shadow:    inset 0 0 1px #bbb;
   -webkit-box-shadow: inset 0 0 1px #bbb;
   box-shadow:         inset 0 0 1px #bbb;
}

li: {

}

p {
    margin:0px;
    padding:0px;
}

.top-li {
    margin:10px;
}

.top-li {
    border:1px dotted #bbb;
    height:1em;
    background:rgba(240,240,240,.8);
    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #aaa;
}

li.leaf, li.collapsed, li.expanded {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
}

ul {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
}

hr {
    color:rgba(250,250,250,.5);
    -moz-box-shadow: 1px 1px 1px #fafafa;
    -webkit-box-shadow: 1px 1px 1px #fafafa;
    box-shadow: 1px 1px 5px #fafafa;
}

h1, h2, h3, h4 {
    padding:0px;
    margin:0px;
}
/*------------Errors & Dialogs-----------*/
.errorlist {
    color:#005;
    background-color:#e00;
}

#change-asset-form {
    width: 50%;
    float: left;
}

#search-running {
    float: left;
    display: none;
}

#search-wrapper {
    display: inline-block;
}

#pre-existing-types > ul {
    display: inline-block;
    max-height: 10em;
    overflow-x: visible;
    overflow-y: auto;
    padding: 5px;
}

#pre-existing-types > span {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
}

#add-search-filter {
    margin-left: 10px;
    margin-top: .5em;
    text-shadow: 0 0 10px #0F0;
}

.loading-overlay {
    position: absolute;
    left: 49%;
}

.pagination {
    text-align: center;
    margin: 30px 0;
}

.remove-filter {
    text-shadow: 0 0 4px #F00,
        0 0 8px #F00,
        0 0 10px #F00,
        0 0 12px #F00;
    margin-right: -15px;
    float: right;
}

.checkout-history {}

.hist-out {
    padding-top: 10px;
    color: #A00;
}

.hist-in {
    color: #0A0;
}

.about-object {
    background-color: rgba(240, 250, 240, .8);
    box-shadow: 0 0 20px 5px rgba(200, 200, 200, .6);
    display: inline-block;
    margin: 10px;
    max-width: 600px;
    min-width: 280px;
    padding: 15px;
    border-radius: 10px;
}

.checkout-history ul {
    padding-top: 10px;
}
