<!-- 3W0NF -->

{% extends 'Assets/element.html' %}

{% block header %}
  <h1 class="form-title">Asset Form</h1>
{% endblock %}

{% block body %}
  <form id="asset-mod" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for field in object_form %}
    <span {% if field.field.required %}class="required {% endif %}{% if field.label %}apply-watermark">{% endif %}
      {{ field.label_tag }}: {{ field }} {{ field.errors }}
      <span>{{ field.help_text }}</span>
    </span>
    {% endfor %}
    <input name='PUT' type='hidden' />
    <input class="submitButton"
    id="{{ 1 }}" type="submit" value="Save" />
  </form>
  {% block extension %}{% endblock %}
{% endblock %}



