
{% block object_table %}{% endblock %}

<div class="pagination">
    <span class="step-links">
        {% if collection.has_previous %}
            <a href="?page={{ collection.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ collection.number }} of {{ collection.paginator.num_pages }}.
        </span>

        {% if collection.has_next %}
            <a href="?page={{ collection.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
