<!-- RD9OJ -->
<div id="menu">
  <div class="menu-header">
    <p><a href="#">Admin</a></p>
    <ul class="menu">
      <a href="/admin">
        <li class="menu-item">
        <p><a href="#">Admin Console</a></p>
        </li>
      </a>
      <a href="/admin/logout">
        <li class="menu-item">
          <p><a href="#">Logout</a></p>
        </li>
      </a>
    </ul>
  </div>
  <div class="menu-header">
    <p><a href="#">Create</a></p>
    <ul class="menu">
      <a href="{% url newObject 'asset' %}">
        <li class="menu-item">
          <p><a href="#">Asset</a></p>
        </li>
      </a>
      <a href="{% url newObject 'assettype' %}">
        <li class="menu-item">
          <p><a href="#">Asset Type</a></p>
        </li>
      </a>
      <a href="{% url newObject 'location' %}">
        <li class="menu-item">
          <p><a href="#">Location</a></p>
        </li>
      </a>
    </ul>
  </div>
  <div class="menu-header">
    <p><a href="#">Import / Export</a></p>
    <ul class="menu">
      <a href="{% url assetCollection 'assets' %}">
        <li class="menu-item">
          <p><a href="#">Import Assets</a></p>
        </li>
      </a>
    </ul>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    $('.menu-header').mouseenter(function() {
      $(this).children('ul').show(100)
    }).mouseleave(function() {
      $(this).children('ul').hide(100);
    });

    $('.menu-header').each(function() {
      $(this).width( $(this).children('ul').width() );
      $(this).children('ul').hide();
    });
  });

</script>
<!-- /RD9OJ -->
