{% extends 'Assets/collection.html' %}

{# Collection is the set of objects passed from views. #}
{% url Assets.views.collection 'asset' as collection_url %}

    {% block object_table %}

    <table>
        <tbody>
    {% for thing in collection %}
    {% url assetElement 'people' thing.pk as element_url %}
        <tr>
            <td><a href='{{ element_url }}/assets'>View Assets</a></td>
            <td>{{ thing.username }}</td>
            <td>{{ thing.email }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    {% endblock %}