<!-- 3W0NF -->

{% extends 'Assets/element.html' %}

{% block header %}
  <br>
  <a href="{% url assetIndex %}">&lsaquo; Asset index</a>
  <span id="newtype"> &middot; 
    <a href="{% url newObject extra_data.type %}">New {{extra_data.type|title}} &rsaquo;</a>
  </span>
  <hr>
  <h1 class="form-title">Asset {{extra_data.type|title}} Form</h1>
  <div id="pre-existing-types">
    <hr>
    <span>
      <p>
        These {{extra_data.type}}s already exist:
      </p>
    </span>
    <ul>
      {% for type in extra_data.types %}
      <li><a href="{% url assetElement extra_data.type type.id %}">{{ type }}</a></li>
      {% endfor %}
    </ul>
    <hr>
  </div>
{% endblock %}

{% block body %}
  <form id="asset-mod" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ object_form.as_p }}
    <input name='PUT' type='hidden' />
    <input class="submitButton"
    id="{{ 1 }}" type="submit" value="Save" />
  </form>
{% endblock %}

