<!DOCTYPE html>
<!-- X086 -->
<html lang="en">
    <head>
        <title>assman</title>
    <link rel="stylesheet" type="text/css"
    href="{{ STATIC_URL }}css/black-tie/jquery-ui-1.8.18.custom.css"/>
    <link rel="stylesheet" type="text/css" 
        href="{{ STATIC_URL }}css/style.css"/>
    <script type="text/javascript" 
        src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js">
    </script>
    <script type="text/javascript">
        function popup(url) {
            var load = window.open(url, '',
                    'scrollbars=no, menubars=no, height=600, width=800, resizable=yes, toolbar=no, location=no, status=no'); }
    </script>
</head>
<body>
    <div id="page-header" class="clear">
        <p class="headertext">{% block headertext %}{% endblock %}</p>
        {% include "search/search.html" %}
        <h2 style="
            display:none;
            line-height:1em;
            float:left;
            line-height:1em;
            padding-top:3px;"
            class="hide hidden"> Saved. 
        </h2>
        {% include "header_links.html" %}
    </div>

    <div id="content" class="float-left ">
        {% block content %}{% endblock %}
    </div>

</body>
<script type="text/javascript">

// Hide the header
$('#hide-page-header').click(function(){
        $('#page-header').hide();
        });

function getCookie(c_name)
{
var i,x,y,ARRcookies=document.cookie.split(";");
for (i=0;i<ARRcookies.length;i++)
{
  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
  x=x.replace(/^\s+|\s+$/g,"");
  if (x==c_name)
    {
    return unescape(y);
    }
  }
}
function deleteCookie(key)
{
  // Delete a cookie by setting the date of expiry to yesterday
  date = new Date();
  date.setDate(date.getDate() -1);
  document.cookie = escape(key) + '=;expires=' + date+';path=/';
}

// Success indicator
x = getCookie('success');
if( x ){
    $('.hide').innerHtml = x;
    console.log(x);
    console.log('googogog');
    $('.hide').text(x).css('display', 'inline').fadeOut(1000);
    deleteCookie('success');
} else {
    $('.hide').css('display', 'none');
}


document.title = "{{ title }}";

</script>
</html>
